<style>
.img-poster {
    width: 400px;
    height: 400px;
}
.basis-2\/4 {
  flex-basis: 50%;
}
.text-justify {
  text-align: center;
}
.title-justify {
  text-align: left;
}
img {
    transition:transform 0.25s ease;
}
img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}
</style>
<div class="img">
  <div class="title-justify"><p>1. NSF DISN Conference 2023 </p></div>
  <div class="title-justify"><p> <a href="https://docs.google.com/presentation/d/e/2PACX-1vQ-VXUtOJ-tsG9lcI2dEgJDhBmnFrtkt2O98K-rpjCeOVpS8UdluguUsiA56lpfWicUReGYyOR5foIo/pub?start=false&loop=false&delayms=3000">An Interdisciplinary Approach to the Discovery, Analysis, and Disruption of 
    Wildlife Trafficking Networks </a> </p></div>
  <img class="img-poster" src="images/nsf-poster.jpg" alt="NSF Conference poster">
  <div class="text-justify"><p>NSF Conference Poster </p></div>
</div>