<style>
  .img-poster {
      width: 400px;
      height: 400px;
  }
  .basis-2\/4 {
    flex-basis: 50%;
  }
  .text-justify {
    text-align: center;
  }
  .title-justify {
    text-align: left;
  }
  img {
      transition: transform 0.25s ease;
  }
  img:hover {
      -webkit-transform: scale(1.5); /* or some other value */
      transform: scale(1.5);
  }
  </style>

  <div class="img">
      <div class="title-justify"><p>1. NSF DISN Conference 2023 </p></div>
      <div class="title-justify">
          <p><a href="https://docs.google.com/presentation/d/e/2PACX-1vQ-VXUtOJ-tsG9lcI2dEgJDhBmnFrtkt2O98K-rpjCeOVpS8UdluguUsiA56lpfWicUReGYyOR5foIo/pub?start=false&loop=false&delayms=3000">An Interdisciplinary Approach to the Discovery, Analysis, and Disruption of Wildlife Trafficking Networks</a></p>
      </div>
      <img class="img-poster" src="images/nsf-poster.jpg" alt="NSF Conference poster">
      <div class="text-justify"><p>NSF Conference Poster </p></div>
  </div>

  <div class="img">
      <div class="title-justify"><p>2. InfoWild 2023 </p></div>
      <div class="title-justify">
          <p><a href="https://wildinfo.ist.psu.edu/">1st CIKM International Workshop on Knowledge Extraction and Management for Wildlife Conservation</a></p>
      </div>
        <p align="center">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQywDFGe7Qws2H0Pc3nEeWujR7eU_ZyOHHSZbSi2I5qSSbkPulxL4jPapx1nl2231QIKTDOq2f_-xct/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
          </iframe>
        </p>
      <div class="text-justify">
          <p>A Flexible and Scalable Approach for Collecting Wildlife Advertisements on the Web</p>
          <p><a href="files/InfoWild_paper.pdf" download>Download the Paper (PDF)</a></p>
          <p><a href="https://github.com/VIDA-NYU/wildlife_pipeline" download>Github Repository</a></p>
      </div>
  </div>
